.main__title{
    text-align: center;
    font-size: 1.8em;
}
.group__contact .group__title{
    padding: 0;
    padding-top: 5px;
    margin: 0 auto;
}
.group__contact .group__txt{
    text-align: justify;
    padding: 10px;
    margin: 0;
    font-size: .85em;
}
.group__contact .group__txt [class*="icon-"]::before{
    font-size: 1.2em;
    margin-right: 7px;
    position: relative;
    top: 3px;
    padding: 0 5px;
}
.group__contact .container--flex{
    align-items: flex-start;
}
.group__contact .social-icons [class*="icon-"]{
    padding: 5px;
    margin: 18px 5px;
    background: black;
    color: white;
}
.group__contact .social-icons [class*="icon-"]:hover{
    background:rgb(249,30,154);
    color: white;
}
.group__contact .group__information{
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 5px solid rgb(249,30,154);
}
.form{
    padding: 0 20px 10px;
    margin: 20px auto 0;
}
.form__label,.form__input,.form__textarea{
    width: 100%;
    display: block;
    margin: 5px;
    
}
.form__textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}
.column__btn{
    border: none;
}
@media screen and (min-width:425px){
    .group__contact .group__txt{
        font-size: 1.1em;
    }
    .main__title{
        font-size: 2em;
    }
}
@media screen and (min-width:480px){
    .group__contact .column--50{
        width: 47%;
    }
    .group__contact .social-icons{
        font-size: .75em;
        margin-top: 20px;
    }
    .main__title{
        font-size: 1.7em;
    }
    .group__title{
        font-size: 1.3em;
    }
    .group__contact .group__txt [class*="icon-"]::before{
        font-size: 1.7em;
    }
    .group__contact .column .information{
        font-size: .7em;
    }
    .group__contact .group__txt{
        font-size: .55em;
        padding: 5px;
    }
    .form{
        font-size: .6em;
    }
    .group__contact .social-icons [class*="icon-"]{
        width: 25px;
        height: 25px;
        line-height: 10px;
        font-size: 1em;
        margin-top: 5px;
    }
    .group__contact .group__information{
        padding: 5px 10px;
        border-bottom: none;
        height: 400px;
        border-right: 5px solid rgb(249,30,154);
    }
    .column__btn{
        margin-top: 20px;
        width: 70px;
        height: 30px;
    } 
}
@media screen and (min-width:510px){
    .group__contact .group__txt{
        font-size: .6em;
    }
    .group__contact .column .information{
        font-size: .75em;
        padding: 20px;
        line-height: 22px;
    }
    .group__contact .group__information{
        height: 450px;
    }
    .column__btn{
        margin-top: 20px;
        width: 80px;
        height: 40px;
        font-size: 1.3em;
    } 
}
@media screen and (min-width:540px){
    .group__contact .group__txt{
        font-size: .60em;
    }
    .form{
        font-size: .7em;
    }
}
@media screen and (min-width:610px){
    .group__contact .group__txt{
        font-size: .7em;
    }
    .group__contact .column .information{
        font-size: .8em;
        padding: 20px;
        line-height: 22px;
    }
}
@media screen and (min-width:710px){
    .group__contact .group__txt{
        font-size: .75em;
    }
    .group__contact .column .information{
        font-size: .85em;
        padding: 22px;
        line-height: 25px;
    }
    .group__contact .social-icons [class*="icon-"]{
        padding: 15px;
        font-size: 1.07em;
    }
}
@media screen and (min-width:768px){
    .group__contact .group__txt{
        font-size: .85em;
        padding-left: 20px;
    }
    .group__contact .column .information{
        font-size: .9em;
        padding: 22px;
        line-height: 25px;
    }
    .group__contact .social-icons [class*="icon-"]{
        padding: 20px;
        font-size: 1.5em;
    }
    .group__contact .group__txt [class*="icon-"]::before{
        font-size: 1.5em;
    }
}
@media screen and (min-width:1024px){
    .group__contact .column .information{
        font-size: 1.2em;
        padding: 20px;
        line-height: 30px;
    }
    .form{
        font-size: 1.2em;
    }
    .column__btn{
        font-size: 1em;
        padding: 0;
        width: 110px;
        height: 50px;
    }
}