<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta name="robots" content="index">
        <link href="../css/inicio.css" rel="stylesheet">
        <link href="../css/font.css" rel="stylesheet">
        <title>Mely's Balloom Parade</title>
</head>
<body>

    {{{body}}}

</body>
</html>