
        
        <head>
              <link href="../css/carrito.css" rel="stylesheet">
        </head>
        <header class="main-header">
            <div class="container container--flex">
                <div class="container__logo column column--50">
                    <h1 class="logo">Ferreteria Ferretear | Contactanos</h1>
                </div>
                <div class="main-header__contactInfo column column--50">
                    <p class="main-header__contactInfo__telefone"><span class="icon-telephone">Teléfono: +504 1234-5678</span></p>
                    <p class="main-header__contactInfo__address"><span class="icon-map">Ubicación: Unicah</span></p>
                </div>
            </div>
        </header>

        <nav class="main-nav">
                <div class="container container--flex">
                <span class="icon-menu" id="btnmenu"></span>
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="/api" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="nosotros" class="menu__link">Nosotros</a></li>
                    <li class="menu__item"><a href="galeria" class="menu__link">Galeria</a></li>
                    <li class="menu__item"><a href="" class="menu__link menu__link--select">Contáctanos</a></li>
                </ul>
                <div class="social-icons">
                     <a href="carrito" class="social-icon__link"><span class="icon-cart"></span></a>
                    <a href="https://www.facebook.com" class="social-icon__link"><span class="icon-facebook"></span></a>
                    <a href="https://www.instagram.com" class="social-icon__link"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/i/flow/login" class="social-icon__link"><span class="icon-twitter"></span></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="social-icon__link"><span class="icon-mail"></span></a>
                </div>
            </div>
        </nav>

        <section class="banner">
            <img src="../img/imagen (5).png" alt="" class="banner__img">
            <div class="banner__content">Contactanos para mas información!</div>
        </section>

        <main class="main">
            <section class="group group_cart">
                <h2 class="main__title">Carrito de compra</h2>
                <div class="container container--flex">
                    <div class="group_table column column--50">
                        <table class="table">
                            <thead>
                                <tr>                    
                                    <th class="columns">Producto</th>
                                    <th class="columns">Nombre</th>
                                    <th class="columns">Precio</th>
                                    <th class="columns">Descuento</th>
                                    <th class="columns">Cantidad</th>                         
                                </tr>
                            </thead>
                            <tbody id="dato">
                            </tbody> 
                      </table>
                    </div>
                    <h2 class="main__title">Factura</h2>
                    <div class="container" id="info">
                        
                    </div>
                    <a href="" class="column__btn btn">Comprar</a>
                </div>
            </section>
        </main>

        <footer class="main-footer">
            <div class="container container--flex">
                <column class="column column--33">
                    <h2 class="column__title">¿Por qué visitarnos?</h2>
                    <p class="column__txt">
                        Somos una ferreteria que nos importa venderle calidad 
                        a nuestros clientes para que puedan construir de mejor manera
                        sus objetivos y planes. Ven y crea sueños con nosotros
                    </p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Contactanos</h2>
                    <p class="column__txt">Teléfono: +504 1234-5678</p>
                    <p class="column__txt">Correo: ferreteriaferretear@gmail.com</p>
                    <p class="column__txt">Ubicación: UNICAH</p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Síguenos en nuestras redes sociales</h2>
                    <p class="column__txt"><a href="https://www.facebook.com" class="icon-facebook">Facebook</a></p>
                    <p class="column__txt"><a href="https://www.instagram.com" class="icon-instagram">Instagram</a></p>
                    <p class="column__txt"><a href="https://twitter.com/i/flow/login" class="icon-twitter">Twitter</a></p>
                    <p class="column__txt"><a href="https://mail.google.com" class="icon-mail">Gmail</a></p>
                </column>
            </div>
        </footer>

        <script src="../js/menu.js"></script>
        <script src="../js/carrito.js"></script>