        <head>
            <link href="../css/galeria.css" rel="stylesheet">
        </head>

        <div class="modal" id="modal">
            <div class="modal__content">
                <img src="" alt="" class="modal__img" id="modal__img">
            </div>
            <div class="modal__btn" id="modal__btn">x</div>
        </div>

        <header class="main-header">
            <div class="container container--flex">
                <div class="container__logo column column--50">
                    <h1 class="logo">Ferreteria Ferretear | Galeria</h1>
                </div>
                <div class="main-header__contactInfo column column--50">
                    <p class="main-header__contactInfo__telefone"><span class="icon-telephone">Teléfono: +504 1234-5678</span></p>
                    <p class="main-header__contactInfo__address"><span class="icon-map">Ubicación: Unicah</span></p>
                </div>
            </div>
        </header>

        <nav class="main-nav">
            <div class="container container--flex">
                <span class="icon-menu" id="btnmenu"></span>
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="/api" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="nosotros" class="menu__link">Nosotros</a></li>
                    <li class="menu__item"><a href="" class="menu__link menu__link--select">Galeria</a></li>
                    <li class="menu__item"><a href="contactanos" class="menu__link">Contáctanos</a></li>
                </ul>
                <div class="social-icons">
                     <a href="carrito" class="social-icon__link"><span class="icon-cart"></span></a>
                    <a href="https://www.facebook.com" class="social-icon__link"><span class="icon-facebook"></span></a>
                    <a href="https://www.instagram.com" class="social-icon__link"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/i/flow/login" class="social-icon__link"><span class="icon-twitter"></span></a>
                    <a href="https://mail.google.com" class="social-icon__link"><span class="icon-mail"></span></a>
                </div>
            </div>
        </nav>

        <section class="banner">
            <img src="../img/imagen (6).png" alt="" class="banner__img">
            <div class="banner__content">Mira nuestros trabajos 100% de calidad!</div>
        </section>

        <main class="main">
            <div class="group gallery">
                <h2 class="main__title">Nuestra Galleria</h2>
                <div class="container container--flex">
                    <div class="column column--50--25">
                        <img src="../img/imagen (1).png" alt="" class="gallery__img group__img__big">
                        <img src="../img/imagen (2).png" alt="" class="gallery__img group__img__small">
                    </div>
                    <div class="column column--50--25">
                        <img src="../img/imagen (3).png" alt="" class="gallery__img group__img__small">
                        <img src="../img/imagen (4).png" alt="" class="gallery__img group__img__big">
                    </div>
                    <div class="column column--50--25">
                        <img src="../img/imagen (5).png" alt="" class="gallery__img group__img__big">
                        <img src="../img/imagen (6).png" alt="" class="gallery__img group__img__small">
                    </div>
                    <div class="column column--50--25">
                        <img src="../img/imagen (7).png" alt="" class="gallery__img group__img__small">
                        <img src="../img/imagen (8).png" alt="" class="gallery__img group__img__big">
                    </div>
                </div>
            </div>
        </main>

        <footer class="main-footer">
            <div class="container container--flex">
                      <column class="column column--33">
                    <h2 class="column__title">¿Por qué visitarnos?</h2>
                    <p class="column__txt">
                        Somos una ferreteria que nos importa venderle calidad 
                        a nuestros clientes para que puedan construir de mejor manera
                        sus objetivos y planes. Ven y crea sueños con nosotros
                    </p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Contactanos</h2>
                    <p class="column__txt">Teléfono: +504 1234-5678</p>
                    <p class="column__txt">Correo: ferreteriaferretear@gmail.com</p>
                    <p class="column__txt">Ubicación: UNICAH</p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Síguenos en nuestras redes sociales</h2>
                    <p class="column__txt"><a href="https://www.facebook.com" class="icon-facebook">Facebook</a></p>
                    <p class="column__txt"><a href="https://www.instagram.com" class="icon-instagram">Instagram</a></p>
                    <p class="column__txt"><a href="https://twitter.com/i/flow/login" class="icon-twitter">Twitter</a></p>
                    <p class="column__txt"><a href="https://mail.google.com" class="icon-mail">Gmail</a></p>
                </column>
            </div>
        </footer>

        <script src="../js/menu.js"></script>
        <script src="../js/modal.js"></script>