        <header class="main-header">
            <div class="container container--flex">
                <div class="container__logo column column--50">
                    <h1 class="logo">Mely's Balloom Parade</h1>
                </div>
                <div class="main-header__contactInfo column column--50">
                    <p class="main-header__contactInfo__telefone"><span class="icon-telephone">Teléfono: +504 3367-3508</span></p>
                    <p class="main-header__contactInfo__address"><span class="icon-map">Ubicación: Texas - Forth Worth</span></p>
                </div>
            </div>
        </header>

        <nav class="main-nav">
            <div class="container container--flex">
                <span class="icon-menu" id="btnmenu"></span>
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="" class="menu__link menu__link--select">Inicio</a></li>
                    <li class="menu__item"><a href="nosotros" class="menu__link">Nosotros</a></li>
                    <li class="menu__item"><a href="galeria" class="menu__link">Galeria</a></li>
                    <li class="menu__item"><a href="contactanos" class="menu__link">Contáctanos</a></li>
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com" class="social-icon__link"><span class="icon-facebook"></span></a>
                    <a href="https://www.instagram.com" class="social-icon__link"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/i/flow/login" class="social-icon__link"><span class="icon-twitter"></span></a>
                    <a href="https://mail.google.com" class="social-icon__link"><span class="icon-mail"></span></a>
                </div>
            </div>
        </nav>

        <section class="banner">
            <img src="img/banner.png" alt="" class="banner__img">
            <div class="banner__content">Las mejores decoraciones las encontraras aquí!</div>
        </section>
        
        <main class="main">
            <section class="group group__color">
                <div class="container">
                    <h2 class="main__title">Bienvenido a nuestra página!</h2>
                    <p class="main__txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Est laboriosam expedita culpa nulla, 
                        labore quis ex facere sed saepe, ea sit at reiciendis 
                        quia architecto ducimus, obcaecati fugiat omnis cum?
                    </p>
                </div>
            </section>
            <section class="main_about__description">
                <div class="container container--flex">
                    <div class="column column--50">
                        <img src="img/imagen1.png" alt="" class="column__img">
                    </div>
                    <div class="column column--50">
                        <h3 class="column__title">Expertos en decoraciones</h3>
                        <p class="column__txt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Velit minus cum aliquid provident corrupti nostrum accusantium 
                            quasi neque nam harum alias, mollitia impedit earum debitis 
                            fugit quia rerum? Quis, aspernatur!
                        </p>
                        <a href="https://www.facebook.com/" class="column__btn btn">Contacto</a>
                    </div>
                </div>
            </section>
            <section class="group decorations">
                <div class="container container--flex">
                    <h2 class="group__title">Tipos de decoraciones</h2>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (1).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 1</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (2).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 2</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (3).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 3</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (4).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 4</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (5).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 5</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (6).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 6</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (7).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 7</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                    <column class="column column--50 decoration">
                        <img src="img/imagen (8).png" alt="" class="decoration__img">
                        <div class="decoration__title">Decoración 8</div>
                        <div class="decoration__txt">99$</div>
                    </column>
                </div>
            </section>
        </main>
        <footer class="main-footer">
            <div class="container container--flex">
                <column class="column column--33">
                    <h2 class="column__title">¿Por qué visitarnos?</h2>
                    <p class="column__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Libero, dolore assumenda a pariatur doloribus eveniet, 
                        similique earum aperiam exercitationem tempore molestiae 
                        id voluptatibus, quia voluptates quibusdam fuga! Eaque, 
                        commodi id.
                    </p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Contactanos</h2>
                    <p class="column__txt">Teléfono: +504 3367-3508</p>
                    <p class="column__txt">Correo: melysballoomparade@gmail.com</p>
                    <p class="column__txt">Ubicación: Texas - Forth Worth</p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Síguenos en nuestras redes sociales</h2>
                    <p class="column__txt"><a href="https://www.facebook.com" class="icon-facebook">Facebook</a></p>
                    <p class="column__txt"><a href="https://www.instagram.com" class="icon-instagram">Instagram</a></p>
                    <p class="column__txt"><a href="https://twitter.com/i/flow/login" class="icon-twitter">Twitter</a></p>
                    <p class="column__txt"><a href="https://mail.google.com" class="icon-mail">Gmail</a></p>
                </column>
            </div>
        </footer>
        <script src="js/menu.js"></script>