        <head>
            <link href="../css/nosotros.css" rel="stylesheet">
        </head>

        <header class="main-header">
            <div class="container container--flex">
                <div class="container__logo column column--50">
                    <h1 class="logo">Mely's Balloom Parade | Nosotros</h1>
                </div>
                <div class="main-header__contactInfo column column--50">
                    <p class="main-header__contactInfo__telefone"><span class="icon-telephone">Teléfono: +504 3367-3508</span></p>
                    <p class="main-header__contactInfo__address"><span class="icon-map">Ubicación: Texas - Forth Worth</span></p>
                </div>
            </div>
        </header>

        <nav class="main-nav">
            <div class="container container--flex">
                <span class="icon-menu" id="btnmenu"></span>
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="/api" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="" class="menu__link menu__link--select">Nosotros</a></li>
                    <li class="menu__item"><a href="galeria" class="menu__link">Galeria</a></li>
                    <li class="menu__item"><a href="contactanos" class="menu__link">Contáctanos</a></li>
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com" class="social-icon__link"><span class="icon-facebook"></span></a>
                    <a href="https://www.instagram.com" class="social-icon__link"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/i/flow/login" class="social-icon__link"><span class="icon-twitter"></span></a>
                    <a href="https://mail.google.com" class="social-icon__link"><span class="icon-mail"></span></a>
                </div>
            </div>
        </nav>

        <section class="banner">
            <img src="../img/imagen (1).png" alt="" class="banner__img">
            <div class="banner__content">Nosotros somos lo mejor en decoraciones!</div>
        </section>

        <main class="main">
            <section class="group group--persons">
                <h2 class="main__title">Nuestro Equipo</h2>
                <div class="container container--flex">
                    <column class="column column--50">
                        <img src="../img/imagen (2).png" alt="" class="group__img">
                        <h3 class="group__title">Mely Rodas</h3>
                        <p class="group__txt">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Doloremque autem quos exercitationem deserunt illo consequatur. 
                            Temporibus praesentium unde sint aut cumque! 
                            Maiores odio nostrum voluptate molestias quo, 
                            laboriosam repudiandae quod?
                        </p>
                    </column>
                    <column class="column column--50">
                        <img src="../img/imagen (3).png" alt="" class="group__img">
                        <h3 class="group__title">Katita Rodas</h3>
                        <p class="group__txt">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Doloremque autem quos exercitationem deserunt illo consequatur. 
                            Temporibus praesentium unde sint aut cumque! 
                            Maiores odio nostrum voluptate molestias quo, 
                            laboriosam repudiandae quod?
                        </p>
                    </column>
                </div>
            </section>
        </main>

        <footer class="main-footer">
            <div class="container container--flex">
                <column class="column column--33">
                    <h2 class="column__title">¿Por qué visitarnos?</h2>
                    <p class="column__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Libero, dolore assumenda a pariatur doloribus eveniet, 
                        similique earum aperiam exercitationem tempore molestiae 
                        id voluptatibus, quia voluptates quibusdam fuga! Eaque, 
                        commodi id.
                    </p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Contactanos</h2>
                    <p class="column__txt">Teléfono: +504 3367-3508</p>
                    <p class="column__txt">Correo: melysballoomparade@gmail.com</p>
                    <p class="column__txt">Ubicación: Texas - Forth Worth</p>
                </column>
                <column class="column column--33">
                    <h2 class="column__title">Síguenos en nuestras redes sociales</h2>
                    <p class="column__txt"><a href="https://www.facebook.com" class="icon-facebook">Facebook</a></p>
                    <p class="column__txt"><a href="https://www.instagram.com" class="icon-instagram">Instagram</a></p>
                    <p class="column__txt"><a href="https://twitter.com/i/flow/login" class="icon-twitter">Twitter</a></p>
                    <p class="column__txt"><a href="https://mail.google.com" class="icon-mail">Gmail</a></p>
                </column>
            </div>
        </footer>

        <script src="../js/menu.js"></script>